<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html lang="en">

<head>
	<title>家教網</title>
	<!-- Meta-Tags -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<meta name="keywords" content="Clear login Form a Responsive Web Template, Bootstrap Web Templates, Flat Web Templates, Android Compatible Web Template, Smartphone Compatible Web Template, Free Webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design">
	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!-- //Meta-Tags -->
	<!-- Stylesheets -->
	<link href="css_login_register/font-awesome.css" rel="stylesheet">
	<link href="css_login_register/style.css" rel='stylesheet' type='text/css' />
	<!--// Stylesheets -->
	<!--fonts-->
	<!-- title -->
	<!-- body -->
	<link href="//fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=devanagari,latin-ext" rel="stylesheet">
	<!--//fonts-->
</head>

<body>
	<h1 style="font-family:fantasy">Edit</h1>
	<div class="w3ls-login box box--big">
		<!-- form starts here -->
		<form action="" method="post"> {% csrf_token %}
			<div class="agile-field-txt">
				<label>
					<i class="fa fa-user" aria-hidden="true"></i> Name </label>
				<input type="text" name="name" placeholder="Enter your name " required="" value="{{ user_name }}"/>
            </div>
			<div class="agile-field-txt">
				<label>
					<i class="fa fa-user" aria-hidden="true"></i> Status </label>
				<input type="text" name="status" placeholder="Enter your name " required="" value="{{ user_status }}" readonly>
            </div>
            <div class="agile-field-txt">
                <label>
                    <i class="fa fa-heart-o" aria-hidden="true"></i>Email</label>
                <input type="email" name="email" placeholder=" Enter your email " required="" value="{{ user_email }}"/>
            </div>
            <div class="agile-field-txt">
                <label>
                    <i class="fa fa-heart-o" aria-hidden="true"></i>Card Number</label>
                <input type="number" name="card_number" placeholder=" Enter your card number " required="" value="{{ user_card_number }}"/>
            </div>
			<div class="w3ls-bot">
				<div class="form-end">
					<input type="submit" value="SAVE CHANGE">
				</div>
				<div class="clearfix"></div>
			</div>
		</form>
	</div>
	<!-- //form ends here -->
	<!--copyright-->
	<div class="copy-wthree">
		<p>© 2018 Clear Login Form. All Rights Reserved | Design by
			<a href="http://w3layouts.com/" target="_blank">W3layouts</a>
		</p>
	</div>
	<!--//copyright-->
	{% if messages %}
		<script>
			{% for msg in messages %}
				alert('{{ msg.message }}');
			{% endfor %}
		</script>
	{% endif %}
</body>

</html>